* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: blue;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: "";
    display: table;
    clear: both; }

#navigation_bar {
  background: red;
  color: blue;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #navigation_bar:after {
    content: "";
    display: table;
    clear: both; }
